<!DOCTYPE html>
<html lang="en" ng-app="portal">
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
	<meta name="description" content="A social media portal in MEAN">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Average+Sans">
	<link rel="stylesheet" href="/stylesheets/main.css" />

	<script>
		var ioo = io;	// It seems that Angular over-writes socket.io's "io."
						// I am doing this to make "io" available inside the factory.
		var portal = angular.module('portal', ['ngRoute']);
		portal.factory('socket', function ($rootScope) {
		  var socket = ioo.connect();
		  return {
		    on: function (eventName, callback) {
		      socket.on(eventName, function () {  
		        var args = arguments;
		        $rootScope.$apply(function () {
		          callback.apply(socket, args);
		        });
		      });
		    },
		    emit: function (eventName, data, callback) {
		      socket.emit(eventName, data, function () {
		        var args = arguments;
		        $rootScope.$apply(function () {
		          if (callback) {
		            callback.apply(socket, args);
		          }
		        });
		      })
		    }
		  };
		});



	    portal.controller('portalController', function($scope, socket) {
			$scope.hello = "hi everyone.  how's it going?";
			console.log('emitting order_ice_cream', {quantity: 5});
			socket.emit('order_ice_cream', {quantity: 5});
	    });	

	    io = io.connect();
	    io.emit('order_ice_cream', {data: 'hello'});

	</script>
</head>
<body>
	<header>
		<div class="logo col-sm-2">
			<a href=""><img src="images/logo.png">odular</a>
		</div>
		<div class="col-sm-4">
			<input type="text" placeholder="Search for people" ng-model="searchlight">
		</div>
		<div class="col-sm-3">
			<div class="col-sm-9">
				<a href="/profile"><%= user.first_name + " " + user.last_name %></a>
			</div>
			<div class="col-sm-3">
				<a href="/main">Home</a>
			</div>
		</div>
		<div class="col-sm-2">
			<a href=""><i class="fa fa-users"></i></a>
			<a href=""><i class="fa fa-comments-o"></i></a>					
			<a href=""><i class="fa fa-bell-o"></i></a>
			<a href="/settings"><i class="fa fa-cogs"></i></a>
		</div>
		<div class="col-sm-1">
			<a href="/signout">Sign out</a>
		</div>
	</header>

	<div class="container col-sm-12">
	
		<div class="main_content col-sm-9">		<!-- ng-view goes here -->

			<!-- placeholder code for partial view -->

			<div class="container" ng-controller="portalController">

				<div class="col-sm-12 splash">

					<div class="splash_pic">
						
						<% if (typeof user.cover !== "undefined") { %>
							<img src="<%= user.cover %>" alt="cover">
						<% } %>
					<!-- <img src="./images/pics/AvengersAssemble1.jpg" alt="cover pic"> -->
				

					</div>
					<div class="profile_pic">
						<% if (typeof user.pic !== "undefined") { %>
							<img src="<%= user.pic %>" alt="profile pic">
						<% } %>


						<!-- <img src="./images/pics/Daredevil.png" alt="">		 -->
					</div>
					<h3><%= user.first_name + " " + user.last_name %></h3>
					<ul>
						<li><a href="">Friends</a></li>
						<li><a href="">Message</a></li>
						<li><a href="/settings">Update Info</a></li>
					</ul>
<!-- 					<div>
						<a href="">Friends</a>
						<a href="">Message</a>
					</div> -->
				</div>



				<div class="sidebar col-sm-3">
					<p class="user_name"><%= user.first_name + " " + user.last_name %></p>

					<% if (typeof user.status !== "undefined") { %>
					<p class="italics"><%= user.status %></p>
					<% } %>
					<h5>Events</h5>
					<h5>GROUPS</h5>
					<ul>
						<li><a href="">St. Barts classes</a></li>
						<li><a href="">St. Barts alumni</a></li>
						<li><a href="">The Baker St. Regulars</a></li>
					</ul>
				</div>
				<div class="newsfeed col-sm-7">
					<div class="well status">
						<i class="fa fa-pencil-square-o"></i>
						<p>Update Status</p>
						<form action="/statuses/create" method="post">
							<textarea class="form-control" rows="3">What's on your mind?</textarea>

							<button type="submit" class="btn-primary">Post Status</button>
						</form>
					</div>

					<div class="well">
						<p class="user_name"><a href="">John Watson</a></p>
						<p>OMG OMG OMG.  Dr. Who is baaaack!!!! I'm soooo excited.  It seems like I've been waiting forever.</p>
						<ul>
							<li><a href="">Like</a></li>
							<li><a href="">Comment</a></li>
							<li><a href="">Share</a></li>
						</ul>
						<div class="well">
							<p class="user_name"><a href="">Jim Moriarty</a></p>
							<p>He's not the only one...</p>
							<ul>
								<li><a href="">Like</a></li>
								<li><a href="">Comment</a></li>
								<li><a href="">Share</a></li>
							</ul>
							<form role="form">
								<input type="text" name="comment" placeholder="Write a comment...">
								<button type="submit" class="btn-primary">Comment</button>
							</form>
						</div>
						<form role="form">
							<input type="text" name="comment" placeholder="Write a comment...">
							<button type="submit" class="btn-primary">Comment</button>
						</form>
					</div>
					<div class="well">
						<p class="user_name"><a href="">Irene Adler</a></p>
						<p>I'm not dead.  Let's have dinner</p>
						<ul>
							<li><a href="">Like</a></li>
							<li><a href="">Comment</a></li>
							<li><a href="">Share</a></li>
						</ul>
						<form role="form">
							<input type="text" name="comment" placeholder="Write a comment...">
							<button type="submit" class="btn-primary">Comment</button>
						</form>
					</div>
				</div>
			</div>
		</div>
			<!-- 	end placeholder code for partial view -->
	
		<div class="right_sidebar col-sm-3">
			<div class="notifications">
				<p><a href=""><span class="user_name">Sherlock Holmes</span></a> commented on Jim Moriarty's post.</p>
				<p><a href=""><span class="user_name">Mrs. Hudson</span></a> posted on Yorkshire Cricket's site.</p>
				<p><a href=""><span class="user_name">Irene Adler</span></a> posted a message on Jim Moriarty's wall.</p>
				<p><a href=""><span class="user_name">Greg Lestrade</span></a> is now friends with Molly Hooper.</p>
				<p><a href=""><span class="user_name">John Watson</span></a> likes Sherlock Holmes' post.</p>
				<p><a href=""><span class="user_name">Sherlock Holmes</span></a> commented on Jim Moriarty's post.</p>
				<p><a href=""><span class="user_name">Mrs. Hudson</span></a> posted on Yorkshire Cricket's site.</p>
				<p><a href=""><span class="user_name">Irene Adler</span></a> posted a message on Jim Moriarty's wall.</p>
				<p><a href=""><span class="user_name">Greg Lestrade</span></a> is now friends with Molly Hooper.</p>
				<p><a href=""><span class="user_name">John Watson</span></a> likes Sherlock Holmes' post.</p>
			</div>
			<div class="contact_list">
				<p>Sherlock Holmes</p>
				<p>Mrs. Hudson</p>
				<p>Greg Lestrade</p>
				<p>John Watson</p>
				<p>Jim Moriarty</p>
			</div>
		</div>
	
	</div>



	<div class="col-sm-4">
		<p>test area below</p>
		<table class="table">
			<thead>
				<tr>
					<th>col 1</th>
					<th>col 2</th>
					<th>col 3</th>
					<th>col 4</th>
					<th>col 5</th>
				</tr>
			</thead>
<!-- 			<tbody ng-repeat="person in all_users">
				<tr>
					<td>{{ person._id }}</td>
					<td ng-bind="person.first_name"></td>
					<td>{{ person.last_name }}</td>
					<td ng-bind="person.email"></td>
					<td>table data 5</td>
				</tr>
			</tbody> -->
		</table>
		<p>test area above</p>
	</div>

	<div ng-controller="portalController">
		{{ hello }}
	</div>
</body>
</html>