<!DOCTYPE html>
<html lang="en" ng-app="portal">
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
	<meta name="description" content="A social media portal in MEAN">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Average+Sans">
	<link rel="stylesheet" href="/stylesheets/main.css" />

	<script>
		var ioo = io;	// It seems that Angular over-writes socket.io's "io."
						// I am doing this to make "io" available inside the factory.
		var portal = angular.module('portal', ['ngRoute']);
		portal.factory('socket', function ($rootScope) {
		  var socket = ioo.connect();
		  return {
		    on: function (eventName, callback) {
		      socket.on(eventName, function () {  
		        var args = arguments;
		        $rootScope.$apply(function () {
		          callback.apply(socket, args);
		        });
		      });
		    },
		    emit: function (eventName, data, callback) {
		      socket.emit(eventName, data, function () {
		        var args = arguments;
		        $rootScope.$apply(function () {
		          if (callback) {
		            callback.apply(socket, args);
		          }
		        });
		      })
		    }
		  };
		});



	    portal.controller('portalController', function($scope, socket) {
			$scope.hello = "hi everyone.  how's it going?";
			console.log('emitting order_ice_cream', {quantity: 5});
			socket.emit('order_ice_cream', {quantity: 5});
	    });	

	    io = io.connect();
	    io.emit('order_ice_cream', {data: 'hello'});

	</script>
</head>
<body>
	<header>
		<div class="logo col-sm-2">
			<a href=""><img src="images/logo.png">odular</a>
		</div>
		<div class="col-sm-4">
			<input type="text" placeholder="Search for people" ng-model="searchlight">
		</div>
		<div class="col-sm-3">
			<div class="col-sm-9">
				<a href="/myprofile"><%= me.first_name + " " + me.last_name %></a>
			</div>
			<div class="col-sm-3">
				<a href="/main">Home</a>
			</div>
		</div>
		<div class="col-sm-2">
			<a href=""><i class="fa fa-users"></i></a>
			<a href=""><i class="fa fa-comments-o"></i></a>					
			<a href=""><i class="fa fa-bell-o"></i></a>
			<a href="/settings"><i class="fa fa-cogs"></i></a>
		</div>
		<div class="col-sm-1">
			<a href="/signout">Sign out</a>
		</div>

	</header>

	<div class="container col-sm-12">
	
		<div class="main_content col-sm-9">		<!-- ng-view goes here -->

			<!-- placeholder code for partial view -->

			<div class="container" ng-controller="portalController">
				<div class="sidebar col-sm-3">
					<p class="user_name"><%= me.first_name + " " + me.last_name %></p>
					<% if (typeof me.pic !== "undefined") { %>
						<img src="<%= me.pic %>" alt="profile pic">
					<% } %>
					<% if (typeof me.status !== "undefined") { %>
					<p class="italics"><%= me.status %></p>
					<% } %>
					<div class="personal">
						<table>
							<tbody>
								<tr>
									<td>E-mail:</td>
									<td><%= me.email %></td>
								</tr>
								<tr>
									<td>Work:</td>
									<% if (typeof me.work !== "undefined") { %>
									<td><%= me.work %></td>
									<% } %>
								</tr>
								<tr>
									<td>Hometown:</td>
									<% if (typeof me.hometown !== "undefined") { %>
									<td><%= me.hometown %></td>
									<% } %>
								</tr>

							</tbody>
						</table>
					</div>
					<h5>Events</h5>
					<h5>GROUPS<h5>
					<ul>
						<li><a href="">St. Barts classes</a></li>
						<li><a href="">St. Barts alumni</a></li>
						<li><a href="">The Baker St. Regulars</a></li>
					</ul>
				</div>
				<div class="col-sm-7">
					<h1>User Details</h1>
					<form action="/users/edit" method="post" class="form-horizontal" role="form">
						<div class="form-group">
							<label for="first_name" class="col-sm-3 control-label">First Name:</label>
							<div class="col-sm-9">
								<input type="text" name="first_name" id="first_name" class="form-control" value="<%= me.first_name %>">	
							</div>
						</div>
						<div class="form-group">
							<label for="last_name" class="col-sm-3 control-label">Last Name:</label>
							<div class="col-sm-9">
								<input type="text" name="last_name" id="last_name" class="form-control" value="<%= me.last_name %>">
							</div>
						</div>
						<div class="form-group">
							<label for="work" class="col-sm-3 control-label">Occupation:</label>
							<div class="col-sm-9">
								<input type="text" name="work" id="work" class="form-control" 
									<% if (typeof me.work !== "undefined") { %>
										value="<%= me.work %>"
									<% } %>>
							</div>
						</div>
						<div class="form-group">
							<label for="hometown" class="col-sm-3 control-label">Hometown:</label>
							<div class="col-sm-9">
								<input type="text" name="hometown" id="hometown" class="form-control"
									<% if (typeof me.work !== "undefined") { %>
										value="<%= me.hometown %>"
									<% } %>>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-9 col-sm-offset-3">
								<button type="submit" class="btn btn-primary">Save changes</button>
							</div>
						</div>
					</form>

					<h2>Upload Profile pic</h2>
					<form action="/pictures/create" method="post" class="form-horizontal" enctype="multipart/form-data" role="form">
						<div class="form-group">
							<label for="picture" class="col-sm-3 control-label">Select Picture:</label>
							<div class="col-sm-9">
								<input type="file" name="picture" id="picture">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-9 col-sm-offset-3">
								<button type="submit" class="btn btn-primary">Upload</button>
							</div>
						</div>
					</form>

					<h2>Upload Cover photo</h2>
					<form action="/covers/create" method="post" class="form-horizontal" enctype="multipart/form-data" role="form">
						<div class="form-group">
							<label for="cover" class="col-sm-3 control-label">Select Picture:</label>
							<div class="col-sm-9">
								<input type="file" name="cover" id="cover">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-9 col-sm-offset-3">
								<button type="submit" class="btn btn-primary">Upload</button>
							</div>
						</div>
					</form>		

				</div>

				<div class="col-sm-2">
					<p>Placeholder column sm-2</p>
				</div>

			</div>
		</div>
			<!-- 	end placeholder code for partial view -->
	
		<div class="right_sidebar col-sm-3">
			<div class="notifications">
				<p><a href=""><span class="user_name">Sherlock Holmes</span></a> commented on Jim Moriarty's post.</p>
				<p><a href=""><span class="user_name">Mrs. Hudson</span></a> posted on Yorkshire Cricket's site.</p>
				<p><a href=""><span class="user_name">Irene Adler</span></a> posted a message on Jim Moriarty's wall.</p>
				<p><a href=""><span class="user_name">Greg Lestrade</span></a> is now friends with Molly Hooper.</p>
				<p><a href=""><span class="user_name">John Watson</span></a> likes Sherlock Holmes' post.</p>
				<p><a href=""><span class="user_name">Sherlock Holmes</span></a> commented on Jim Moriarty's post.</p>
				<p><a href=""><span class="user_name">Mrs. Hudson</span></a> posted on Yorkshire Cricket's site.</p>
				<p><a href=""><span class="user_name">Irene Adler</span></a> posted a message on Jim Moriarty's wall.</p>
				<p><a href=""><span class="user_name">Greg Lestrade</span></a> is now friends with Molly Hooper.</p>
				<p><a href=""><span class="user_name">John Watson</span></a> likes Sherlock Holmes' post.</p>
			</div>
			<div class="contact_list">
				<p>Sherlock Holmes</p>
				<p>Mrs. Hudson</p>
				<p>Greg Lestrade</p>
				<p>John Watson</p>
				<p>Jim Moriarty</p>
			</div>
		</div>
	
	</div>

</body>
</html>